<%- include('partials/header'); %>
<!-- Page Wrapper -->
<div id="wrapper">
  <%- include('partials/sidebar'); %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <nav
        class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
      >
        <!-- Sidebar Toggle (Topbar) -->
        <button
          id="sidebarToggleTop"
          class="btn btn-link d-md-none rounded-circle mr-3"
        >
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="userDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                >Admin</span
              >
              <img
                class="img-profile rounded-circle"
                src="/img/undraw_profile.svg"
              />
            </a>
            <!-- Dropdown - User Information -->
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="userDropdown"
            >
              <a
                class="dropdown-item"
                href="#"
                data-toggle="modal"
                data-target="#logoutModal"
              >
                <i
                  class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                ></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Content Row -->
        <div class="row">
          <div class="card o-hidden border-0 shadow-lg w100">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-lg-6 offset-lg-3">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Add a Admin</h1>
                    </div>
                    <form class="user">
                      <div class="form-group row">
                        <div class="col-sm-4 mb-3 mb-sm-0">
                          <input
                            type="text"
                            class="form-control form-control-user"
                            id="exampleFirstName"
                            placeholder="First Name"
                            name="first_name"
                          />
                        </div>
                        <div class="col-sm-4">
                          <input
                            type="text"
                            class="form-control form-control-user"
                            id="exampleLastName"
                            placeholder="Last Name"
                            name="last_name"
                          />
                        </div>
                        <div class="col-sm-4 mb-3 mb-sm-0">
                          <input
                            type="text"
                            class="form-control form-control-user"
                            id="username"
                            placeholder="Username"
                            name="user_name"
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-2 mb-3 mb-sm-0">You are :</div>
                        <div class="col-sm-2 mb-3 mb-sm-0">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="gender"
                              value="1"
                            />
                            <label class="form-check-label"> Male </label>
                          </div>
                        </div>
                        <div class="col-sm-2 mb-3 mb-sm-0">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="gender"
                              value="2"
                            />
                            <label class="form-check-label"> Female </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <input
                          type="email"
                          class="form-control form-control-user"
                          id="exampleInputEmail"
                          placeholder="Email Address"
                          name="email"
                        />
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <input
                          type="text"
                          class="form-control form-control-user"
                          id="exampleInputMobileNo"
                          placeholder="Mobile No."
                          name="mobile_no"
                        />
                        </div>

                      </div>
                      <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <input
                            type="password"
                            class="form-control form-control-user"
                            id="exampleInputPassword"
                            placeholder="Password"
                            name="password"
                          />
                        </div>
                        <!-- <div class="col-sm-6">
                          <input
                            type="password"
                            class="form-control form-control-user"
                            id="exampleRepeatPassword"
                            placeholder="Confirm Password"
                            name="confirmPassowrd"
                          />
                        </div> -->
                      </div>
                      <a
                        id="btnAddAdmin"
                        href="#"
                        class="btn btn-primary btn-user btn-block"
                      >
                        Add Admin
                      </a>
                      <hr />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; User Management System 2022</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<%- include('partials/footer'); %>
